body{
    background: url("../images/person-holding-barbell-841130.jpg") no-repeat center center fixed;
    background-size: cover;
}
div{
    background-color: lightgray;
    width: 42%;
    margin: 150px auto;
    text-align: center;
    border-radius: 20px;
}
h1{
    color:seagreen;
    font-size: 4em;
    margin: 2%;
}
p{
    margin: 3%;
    font-size: 1.5em;
    color: darkslategray;
}
button{
    padding: 13px 25px;
    font-size: medium;
    background-color: green;
    border-radius: 15px;
    color: white;
}
button:focus {outline:0 !important;}
